<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.Dao.EmployeeMapper">
    <resultMap id="BaseResultMap" type="demo.Model.Employee">
        <result column="employee_id" jdbcType="INTEGER" property="employee_id"/>
        <result column="employee_username" jdbcType="VARCHAR" property="employee_username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="employee_name" jdbcType="VARCHAR" property="employee_name"/>
        <result column="employee_gender" jdbcType="VARCHAR" property="employee_gender"/>
    </resultMap>
    <sql id="Base_Column_List">
    employee_id,employee_username,password,employee_name,employee_gender
  </sql>


    <!--  查找-->
    <select id="getallemployeeid" resultType="java.lang.String">
        select
        employee_id
        from employee
    </select>

    <!--    按照主键查找员工-->
    <select id="selectById" parameterType="demo.Model.Employee" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from employee
        where employee_id = #{employee_id,jdbcType=INTEGER}
    </select>


    <select id="employeeconfirm" parameterType="demo.Model.Employee" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from employee
        where employee_username = #{employee_username,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>
    <!--    此处注意上面花括号的属性与实体类的属性名一致，mybatis自动取值-->


    <!--    插入-->
    <insert id="insert" parameterType="demo.Model.Employee">
    insert into employee (employee_id, employee_username, password, 
      employee_name, employee_gender)
    values (#{employee_id,jdbcType=INTEGER}, #{employee_username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{employee_name,jdbcType=VARCHAR}, #{employee_gender,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="demo.Model.Employee">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employee_id != null">
                employee_id,
            </if>
            <if test="employee_username != null">
                employee_username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="employee_name != null">
                employee_name,
            </if>
            <if test="employee_gender != null">
                employee_gender,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employee_id != null">
                #{employee_id,jdbcType=INTEGER},
            </if>
            <if test="employee_username != null">
                #{employee_username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="employee_name != null">
                #{employee_name,jdbcType=VARCHAR},
            </if>
            <if test="employee_gender != null">
                #{employee_gender,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <delete id="deleteEmployeeeById" parameterType="java.lang.Integer">
        delete
        from employee
        where employee_id = #{0}

    </delete>

</mapper>