<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.Dao.HotelMapper">
    <resultMap id="BaseResultMap" type="demo.Model.Hotel">
        <result column="location_info" jdbcType="VARCHAR" property="location_info"/>
        <result column="traffic_Info" jdbcType="VARCHAR" property="traffic_Info"/>
        <result column="hotel_name" jdbcType="VARCHAR" property="hotel_name"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
    </resultMap>
    <sql id="Base_Column_List">
    employee_id,employee_username,password,employee_name,employee_gender
  </sql>

    <!--  查询-->
    <insert id="insert" parameterType="demo.Model.Hotel">
    insert into hotel (location_info, traffic_Info, hotel_name, 
      introduction)
    values (#{location_info,jdbcType=VARCHAR}, #{traffic_Info,jdbcType=VARCHAR}, #{hotel_name,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="demo.Model.Hotel">
        insert into hotel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="location_info != null">
                location_info,
            </if>
            <if test="traffic_Info != null">
                traffic_Info,
            </if>
            <if test="hotel_name != null">
                hotel_name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="location_info != null">
                #{location_info,jdbcType=VARCHAR},
            </if>
            <if test="traffic_Info != null">
                #{traffic_Info,jdbcType=VARCHAR},
            </if>
            <if test="hotel_name != null">
                #{hotel_name,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>